<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mysliukserhii.mynewcoursework">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Конструктор Харчування"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.MyNewCourseWork">
        <activity
            android:name=".ui.add_dish.AddDish"
            android:exported="false"
            android:label="Створення страви"

            />
        <activity
            android:name=".ui.dishes.DishListActivity"
            android:exported="false"
            android:label="Список страв"
            />
        <activity
            android:name=".ui.cobstructor.Constructor"
            android:exported="false"
            android:label="Конструктор"


            />
        <activity
            android:name=".ui.user_data.UserData"
            android:exported="true"
            android:label="Дані користувача"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>